* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-image: url(../bilder/background.jpg);
    background-repeat: repeat;
    margin-left: 3em;
}

h1 {
    width: fit-content;
    margin: auto;
    margin-bottom: 1em;
}

.large {
    width: fit-content;
    font-size: large;
    margin: auto;
    margin-bottom: 2em;
}

img {
    display: block;
    height: 15em;
    border-radius: 3em;
    margin: auto;
    margin-bottom: 1em;
}

ol {
    width: fit-content;
    margin: auto;
    padding-right: 40px;
}

li p {
    width: 20em;
    margin: auto;
    margin-bottom: 3em;
}

a {
    display: block;
    padding: 0.5em;
    padding-bottom: 0.7em;
    width: fit-content;
    margin: auto;
    background-color: rgb(32, 32, 32);
    border-radius: 0.5em;
    color: whitesmoke;
    text-decoration: none;
}

p a{
    background-color: darkslategray;
    margin: 1em auto;
}
